rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /video/{document} {
      allow read: 
        if resource.data.public_level == "public"
        || request.auth.token.name == "privileged"
      allow write: 
        if false
    }
  }
}